.main-inner{
    box-shadow: 0 2px 4px 0 #0000001a;
}

.main-top-bar{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.top-bar-info{
    position: relative;
    margin: 0 auto;
    width: 40%;
    padding: 5px 20px;
    background-color: white;
    transition: all 200ms ease;
    cursor: pointer;
    border-radius: 9px;
}
.top-bar-info:hover{
    background-color: #f2f4f6;
}
.copy-hover-message::before{
    opacity: 0;
    transition: all 200ms ease;
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid rgb(255, 255, 255);
}
.copy-hover-message{
    opacity: 0;
    transition: all 200ms ease;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 50%;
    transform: translate(-50% , calc(100% + 20px));
    z-index: 10;
    min-width: 140px;
    padding: 5px;
    font-size: 12px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 -1px 8px 2px #0000001a;
}
.top-bar-info:hover .copy-hover-message{
    opacity: 1;
}
.top-bar-info:hover .copy-hover-message::before{
    opacity: 1;
}

.logo-wrapper{
    border: 1px solid rgb(211, 211, 211);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-tabs{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.main-tab{
    padding: 14px 0;
    border-bottom: 2px solid transparent;
}
.active-tab{
    color: #037DD6;
    border-bottom: 2px solid #037DD6 !important;
}

.icon-wrapper-rounded{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #037DD6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-item:nth-child(2n)
{
    border: none !important;
}

.activity-item:last-child{
    border-bottom: 1px solid #adb5bd !important;
}