.intro-header{
    width: 742px;
    margin-top: 3%;
}

.intro-content{
    margin-top: 65px;
}

.option-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 388px;
    height: 278px;
    border: 1px solid #d6d9dc;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 18px 16px;
    padding-top: 35px;
}

@media ( max-width : 768px )
{
    .intro-header{
        width: 100%;
        margin-top: 3%;
    }
    
}