.send-page{
    background-color: #F2F4F6;
}
.send-page input {
    outline : none !important ;
}
.search-contact{
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 3px 10px 1px rgb(227, 227, 227);
    min-height: 700px;
    background-color: white;
}
.search-contact-top-bar {
    padding: 14px;
    background-color: #F2F4F6;
}
.search-contact-top-bar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-contact-top-bar div a{
    color: #037DD6;
    font-size: 13px;
    padding: 5px;
}
.search-field-wrapper {
    position: relative;
}
.search-field-wrapper img{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.search-field-wrapper input{
    padding: 14px;
    padding-left: 34px;
    font-size: 13px;
    outline: none !important;
    border-radius: 8px;
    border: 1px solid rgb(227, 227, 227);
}

.input-amount-wrapper > div {
    display: grid !important;
    grid-template-columns: 1fr 3fr;
}

.selected-account-wrapper {
    position: relative;
    z-index: 40;
    width: 100%;
    border: 1px solid #037DD6;
    border-radius: 6px;
    background-color: white;
}
.error-message{
    background-color: #d73a4919;
}
@media ( max-width : 576px )
{
    .send-page .container {
        width: 100%;
        padding: 0;
    }
    .send-page-content{
        width: 100%;
    }
}