*{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Roboto Mono', monospace;
  font-weight: 400 !important;
}
a{
  text-decoration: none;
}
.custom-container
{
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

.fs-14{
  font-size: 14px;
}

.btn-1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 44px;
  margin: 35px 0 0px;
  padding: 5px 60px;
  background-color: #037dd6;
  border-radius: 100px;
  color: white;
}

.btn-2{
  display: inline-block;
  font-size: 14px;
  margin: 35px 0 0px;
  padding: 15px 60px 16px 60px;
  background-color: #037dd6;
  border-radius: 100px;
  color: white;
}

.btn-3{
  display: inline-block;
  font-size: 14px;
  margin: 35px 0 0px;
  padding: 10px 60px 11px 60px;
  background-color: #037dd6;
  border-radius: 100px;
  color: white;
}
.btn-3-inverted{
  display: inline-block;
  font-size: 14px;
  margin: 35px 0 0px;
  padding: 10px 30px 11px 30px;
  background-color: white;
  border-radius: 100px;
  border: 1px solid #037dd6;
  color: #037dd6;
}